@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141a21;
  --foreground: #ffffff;
  --backcontrast: #1c252e;
  --primary:#ee9b27;
  --secondary:#fdc868;
  --hover:#3b454e;
  --text-gray: #919eab;
  --active:#262624;
  
  --hover-rgb: 59, 69, 78; 
  --primary-rgb: 238, 155, 39; 
  
  --nav-item-root-non-active-bg: rgba(var(--hover-rgb), 0.08);
  --nav-item-root-non-active-hover: rgba(var(--hover-rgb), 0.16);
  --nav-item-root-active-bg: rgba(var(--primary-rgb), 0.08);
  --nav-item-root-active-hover: rgba(var(--primary-rgb), 0.16);
}

@media (prefers-color-scheme: dark) {
  :root {

    /* PRIMARY COLORS  */
    --background: #141a21;
    --foreground: #ffffff;
    --backcontrast: #1c252e;
    --primary:#ee9b27;
    --secondary:#fdc868;
    --hover:#3b454e;
    --text-gray: #919eab;
   
  
  
  /* NAVIGATION EFFECT BUTTONS */

  --hover-rgb: 59, 69, 78;
  --primary-rgb: 253, 200, 104;

  --nav-item-root-non-active-hover: rgba(var(--hover-rgb), 0.16);
  --nav-item-root-non-active-click: rgba(var(--hover-rgb), 0.32);

  --nav-item-root-active-bg: rgba(var(--primary-rgb), 0.02);
  --nav-item-root-active-click:rgba(var(--primary-rgb), 0.16);
  
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
